/* Complete Page */
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
}

/* Main Page */
.main-page{
    display: flex;
}

/* Side Line */
.side-line{
    width: 2%;
    height: 100vh;
    background-color: royalblue;
}

 /* Side Bar */
.side-bar{
    background-color: #f7f7f7;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Title */
.title{
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/* Circle */
.circle{
    background-color: royalblue;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
    margin-top: -25px;
}
.circle:hover{
    background-color: rgb(22, 56, 159);
}
.circle:active{
    background-color: rgb(2, 21, 81);
}
/* #enable-btn{
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 25px;
}
#enable-btn:hover{
    background-color: rgb(22, 56, 159);
}
#enable-btn:active{
    background-color: rgb(2, 21, 81);
} */
.copyright{
    font-family: 'montserrat', sans-serif;
    font-size: 0.75rem;
    margin-bottom: -50px;
}

/* Right Panel */
.right-panel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    background-color: royalblue;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.empty-container{
    margin-left: 150px;
}
.header-title{
    font-size: 2rem;
    color: white;
    font-family: 'montserrat', sans-serif;
}
.img-logo{
    width: 150px;
}

/* Tablet Image */
.tablet-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tablet-image{
    position: absolute;
}
#main-canvas{
    position: absolute;
    z-index: -1;
}